<mat-drawer-container class="sidebar-container">
	  <mat-drawer mode="side" opened></mat-drawer>
	    <mat-drawer-content>
	      <div id="intro">
	        <p>Welcome to NYCNeighborhoods!</p>
		<p>This application is designed to provide helpful information about each neighborhood in New York City.</p>
		<p>You can view the information categories on the sidebar to the left.</p>
		<p>Each Neighborhood is highlighted in blue on the map. Click on one to explore its characteristics.</p>
		<img id="logo" src="assets/nyc_outline.png">
              </div>
	    </mat-drawer-content>
</mat-drawer-container>
