<mat-drawer-container class="sidebar-container">
	  <mat-drawer mode="side" opened>
	    <button id="summary" (click)="showSummary()">Summary</button>
	    <button id="living" (click)="showLiving()">Living</button>
	    <button id="food" (click)="showFood()">Food</button>
	    <button id="rec" (click)="showRec()">Recreation</button>
	    <button id="transit" (click)="showTransit()">Transit</button>
	    <button id="schools" (click)="showSchools()">Schools</button>
	    <button id="crime" (click)="showCrime()">Crime</button>
	  </mat-drawer>
	    <mat-drawer-content>
	      <div id="content-box">
	        <p id="subheading">Welcome to NYCNeighborhoods!</p>
		<p>This application is designed to provide helpful information about each neighborhood in New York City.</p>
		<p>You can view the information categories on the sidebar to the left.</p>
		<p>Each Neighborhood is highlighted in blue on the map. Click on one to explore its characteristics.</p>
		<img id="logo" src="assets/nyc_outline.png">
              </div>
	    </mat-drawer-content>
</mat-drawer-container>
